@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font-family/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e60e";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-sousuo:before {
  content: "\e640";
}

