/* base公用样式 */
/* 初始化样式，通用样式 */
/* start */
/* 去掉页面所有标签的内填充外边距 */
* {
    /* 定义元素边框与元素内容之间的空间，即上下左右的内边距 */
    padding: 0;
    margin: 0;
    /* css3新增样式 */
    box-sizing: border-box;
}

/* 去掉列表符号 */
li {
    list-style: none;
}

/* 去掉img底部的缝隙 */
img {
    vertical-align: bottom;
}

/* 类是可以被定义的，比如，我们可以定义一个浮动类，这样，我们就可以在任意位置使用这个类了。 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* ::after (:after) CSS伪元素 ::after 用来创建一个伪元素，作为已选中元素的最后一个子元素。 
通常会配合 content 属性来为该元素添加装饰内容。 这个虚拟元素默认是行内元素 */
.clear::after {
    clear: both;
    display: block;
    content: "";
}

/* 设置整个页面整个字体相关样式 */
body {
    font-size: 14px;
    /* 设置行高为1.5倍 */
    line-height: 1.5;
    /* 设置页面最小宽度 */
    min-width: 1280px;
    font-family: 'zk';
    min-width: 100dvw;
    min-height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    cursor: url("../res/normal.cur"), auto;
    /* background: url(https://bingw.jasonzeng.dev/?index=random); */
    background: url(https://bingw.jasonzeng.dev/?index=1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 超链接的美化 */
a {
    /* 去掉超链接下划线 */
    text-decoration: none;
    /* 设置a标签的字体颜色继承父类元素 */
    /* inherit就是继承父类 */
    color: inherit;
}

@font-face {
    font-family: 'zk';
    src: url('../font-family/zk.ttf');
}

html {
    /* 平滑滚动 */
    scroll-behavior: smooth;
    font-size: 0.8vw;
    font-family: 'zk';
}

@font-face {
    font-family: 'Aurebesh';
    src: url('../font-family/Aurebesh.ttf');
}

@font-face {
    font-family: 'JetBrainsMonoBold';
    src: url('../font-family/JetBrainsMono-Bold.ttf');
}

/* end */

.mainBox {
    width: 100dvw;
    height: 100dvh;
    /* width: 100%;
    height: 100%; */
    min-width: 100dvw;
    min-height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    position: relative;
}

.mainBox .head {
    width: 36rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 4rem;
    left: 82%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
}

.mainBox .head ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

.mainBox .head ul li {
    width: fit-content;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: black;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'JetBrainsMonoBold';
    cursor: url('../res/ayuda.cur'), auto;
}

.mainBox .head ul li.active {
    background-color: #bee7e9;
    font-weight: bold;
    color: orange;
}

.mainBox .head ul li:hover {
    background-color: #bee7e9;
    font-weight: bold;
    color: orange;
}

.mainBox .title {
    position: fixed;
    top: 4rem;
    left: 14rem;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-family: 'Aurebesh';
    font-size: 3rem;
    filter: grayscale(1) contrast(999) invert(1);
    /* cursor: default; */
}

.mainBox .main {
    width: 100%;
    height: 100%;
    min-width: 100dvw;
    min-height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    /* background: url(https://bingw.jasonzeng.dev/?index=random); */
    background: url(https://bingw.jasonzeng.dev/?index=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBox .main .textBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.mainBox .main .textBox .text {
    color: white;
    font-family: 'JetBrainsMonoBold';
    font-size: 5rem;
    /* cursor: default; */
    white-space: nowrap;
}

.mainBox .main .textBox:hover .text::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 0 red;
    left: -2px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.mainBox .main .textBox:hover .text::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: -2px 0 blue;
    left: 2px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}

@keyframes ani1 {
    0% {
        clip-path: inset(15px 0 70px 0);
    }

    5% {
        clip-path: inset(80px 0 5px 0);
    }

    10% {
        clip-path: inset(50px 0 50px 0);
    }

    15% {
        clip-path: inset(30px 0 20px 0);
    }

    20% {
        clip-path: inset(60px 0 60px 0);
    }

    25% {
        clip-path: inset(20px 0 30px 0);
    }

    30% {
        clip-path: inset(70px 0 10px 0);
    }

    35% {
        clip-path: inset(40px 0 40px 0);
    }

    40% {
        clip-path: inset(90px 0 0px 0);
    }

    45% {
        clip-path: inset(10px 0 80px 0);
    }

    50% {
        clip-path: inset(60px 0 20px 0);
    }

    55% {
        clip-path: inset(30px 0 50px 0);
    }

    60% {
        clip-path: inset(80px 0 10px 0);
    }

    65% {
        clip-path: inset(20px 0 70px 0);
    }

    70% {
        clip-path: inset(50px 0 40px 0);
    }

    75% {
        clip-path: inset(90px 0 20px 0);
    }

    80% {
        clip-path: inset(10px 0 30px 0);
    }

    85% {
        clip-path: inset(40px 0 10px 0);
    }

    90% {
        clip-path: inset(70px 0 60px 0);
    }

    95% {
        clip-path: inset(30px 0 80px 0);
    }

    100% {
        clip-path: inset(60px 0 50px 0);
    }
}

@keyframes ani2 {
    0% {
        clip-path: inset(60px 0 30px 0);
    }

    5% {
        clip-path: inset(30px 0 70px 0);
    }

    10% {
        clip-path: inset(80px 0 10px 0);
    }

    15% {
        clip-path: inset(40px 0 50px 0);
    }

    20% {
        clip-path: inset(20px 0 90px 0);
    }

    25% {
        clip-path: inset(70px 0 20px 0);
    }

    30% {
        clip-path: inset(50px 0 80px 0);
    }

    35% {
        clip-path: inset(90px 0 10px 0);
    }

    40% {
        clip-path: inset(10px 0 30px 0);
    }

    45% {
        clip-path: inset(60px 0 70px 0);
    }

    50% {
        clip-path: inset(20px 0 40px 0);
    }

    55% {
        clip-path: inset(80px 0 50px 0);
    }

    60% {
        clip-path: inset(30px 0 90px 0);
    }

    65% {
        clip-path: inset(70px 0 20px 0);
    }

    70% {
        clip-path: inset(50px 0 80px 0);
    }

    75% {
        clip-path: inset(90px 0 40px 0);
    }

    80% {
        clip-path: inset(20px 0 10px 0);
    }

    85% {
        clip-path: inset(60px 0 70px 0);
    }

    90% {
        clip-path: inset(30px 0 90px 0);
    }

    95% {
        clip-path: inset(70px 0 30px 0);
    }

    100% {
        clip-path: inset(40px 0 10px 0);
    }
}

.mainBox .main .typewriter {
    width: 50rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    /* animation: tying 2s steps(22), blnk .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox .main .typewriter .typewriterText {
    width: 70%;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    animation: tying 2s steps(22), blnk .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes tying {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@keyframes blnk {
    50% {
        border-color: transparent;
    }
}

.mainBox .main .copyrightBox {
    width: 30rem;
    height: 2rem;
    position: fixed;

    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBox .main .copyrightBox .copyright {
    color: white;
    text-align: center;
    line-height: 2rem;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: 'JetBrainsMonoBold';
}

.mainBox .main .findMeBox {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transform: translate(-50%, -50%);
    background: url("../images/avater.jpg");
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    opacity: .5;
    transition: all .5s;
}

.mainBox .main .findMeBox:hover {
    border: 2px solid #bee7e9;
    opacity: 1;
}


.mainBox .content {
    width: 100%;
    height: 100%;
    min-width: 100dvw;
    min-height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    position: relative;
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(10px);
}

.mainBox .content .broadcast {
    width: fit-content;
    position: fixed;
    top: 3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    font-family: 'JetbrainsMonoBold';
    border: 3px dotted orange;
    border-radius: 1rem;
    padding: 1rem;
}

.mainBox .content .broadcast span {
    font-family: 'zk';
}

.mainBox .content .info {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox .content .info .infoBox {
    width: 90rem;
    height: 50rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.mainBox .content .info .infoBox .infoBoxLeft {
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 1rem 0 0 1rem;
    position: relative;
}

.mainBox .content .info .infoBox .infoBoxLeft .avater {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px dotted #9ca8b8;
    border-radius: 50%;

}

.mainBox .content .info .infoBox .infoBoxLeft .avater img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
    
}
@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mainBox .content .info .infoBox .infoBoxLeft .title {
    position: absolute;
    top: 38%;
    color: white;
    font-size: 3rem;
    white-space: nowrap;
    font-family: 'zk';
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBox .content .info .infoBox .infoBoxLeft .smallInfo {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

.mainBox .content .info .infoBox .infoBoxLeft .about {
    width: 70%;
    height: 40%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li {
    width: 70%;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 1.4rem;
    transition: all .5s;
    border-radius: 1rem;
    cursor: url('../res/ayuda.cur'), auto;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(1) {
    background-color: #1f2328;
    color: white;
    border: 3px dotted #1f2328;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(1):hover {
    border: 3px dotted #1f2328;
    color: #1f2328;
    background-color: white;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(2) {
    background-color: #13d36a;
    border: 3px dotted #13d36a;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(2):hover {
    color: #13d36a;
    background-color: white;
    border: 3px dotted #13d36a;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(3) {
    background-image: linear-gradient(to right, #ea4536, #f9b900, #25a146, #337cf3);
    border: 3px dotted white;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li:nth-child(3):hover {
    color: black;
    background-image: none;
    background-color: white;
    border: 3px dotted black;
}

.mainBox .content .info .infoBox .infoBoxLeft .about ul li span {
    margin-right: 1rem;
    font-size: 1.4rem;
}

.mainBox .content .info .infoBox .infoBoxRight {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox {
    width: 100%;
    height: 90%;
    background-color: white;
    /* background-color: blueviolet; */
    border-left: 3px dotted #ccc;
    padding: 1rem;
    
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxTop {
    width: 100%;
    height: 10%;
    /* background-color: skyblue; */
    position: relative;
    border: 3px solid #ccc;
    border-bottom: 0;
    border-radius: 1.3rem 1.3rem 0 0;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxTop ul{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 1.3rem 1.3rem 0 0;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxTop ul li{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    padding-left: 6rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
    background-color: #ccc;
    overflow: hidden;
    border-radius: 1.3rem 1.3rem 0 0;
    transition: all .5s;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxTop ul li.active{
    background-color: white;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxTop .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
    height: 100%;
    border-radius: 1.3rem 1.3rem 0 0;
    background-color: transparent;
    outline: 2px dotted white;
    transition: all 1s;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom {
    width: 100%;
    height: 90%;
    /* background-color: orange; */
    border-radius: 0 0 1.3rem 1.3rem;
    position: relative;
    overflow: hidden;
    border: 3px solid #ccc;
    border-top: 0;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border-radius: 0 0 1.3rem 1.3rem;
    transition: all .5s;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo{
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
    position: relative;
    background-color: white;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .personalInfoTitle{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    white-space: nowrap;
    /* text-decoration: underline; */
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .personalInfoTitle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
        /* 设置（背景图片）高度和宽度。（宽度，高度）*/
        background-size: 0 1px;
    
        /* 设置背景图像的起始位置。 x, y*/
        /* 控制线开始位置 */
        /* 背景的开始位置 */
        /* 0% 100% 从左到右 */
        /* 100% 100% 从右到左*/
        background-position: 50% 100%;
        /* 表示从中间开始向两边 */
    
        /* 动画效果 all-全部变化，可以为background 4s-动画时间  ease-in-out-动画效果：慢快慢*/
        transition: all .4s ease-in-out;
    
        /* linear-gradient 渐变效果*/
        /* to right 从右侧开始渐变*/
        /* to bottom right 从左上角到右下角的线性渐变: */
        background-image: linear-gradient(to right, #888888, #878787, #888888);
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .personalInfoTitle span:hover {
    background-size: 100% 1px;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .text .textP{
    margin-bottom: 1rem;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .personalInfo .text .textP:last-child{
    margin-bottom: 0;
    font-style: italic;
    margin-top: 6rem;
    font-family: 'JetBrainsMonoBold';
    font-size: 1rem;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage {
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
    position: relative;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage .programmingLanguageContent{
    position: absolute;
    z-index: 1;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage .programmingLanguageTitle{
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    top: 10%;
    left: 10%;
    width: 70%;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage .programmingLanguageTitle:last-child{
    top: 40%;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage .programmingLanguageTitle .img{
    margin-top: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .programmingLanguage .programmingLanguageTitle .img .icoImg{
    width: 3rem;
    height: 3rem;
}

.mainBox .content .info .infoBox .infoBoxRight .infoBoxRightBox .infoBoxRightBoxBottom .box .otherWebsites {
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
}