@import '../base.module.scss';

.musicFlow {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: .3);
    border-radius: $radius;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .musicFlowContainer{
        width: 100%;
        height: 100%;
    }
}