@import '../base.module.scss';

.personalProfile{
    width: 100dvw;
    height: 100dvh;
    position: relative;
    .canvas{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .container{
        width: 80%;
        height: 80%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: $radius;
        transform: translate(-50%,-50%);
        padding: .6rem .5rem;
        display: flex;
        flex-direction: column;
        .leftTop{
            width: 100%;
            height: 40%;
            // background-color: skyblue;
            border-bottom: 1px dotted #ccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: .1rem;
            .avaterBox{
                width: 1.5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                .avater{
                    width: 100%;
                    height: 100%;
                }
            }
            .username{
                font-size: .5rem;
                background: linear-gradient(315deg, #42d392 25%, #647eff);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .signature{
                font-size: .3rem;
                color: #ccc;
            }
            .btnBox{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
        .rightBottom{
            width: 100%;
            height: 60%;
            padding: .1rem;
            .technologyStackBox{
                width: 100%;
                height: 40%;
                border: .01rem solid #ccc;
                overflow: hidden;
                .technologyStackBoxContainer{
                    display: flex;
                    width: 20rem;
                    height: 100%;
                    .technologyStackItem{
                        display: flex;
                        height: 100%;
                        width: 1.4rem;
                        flex-direction: column;
                        justify-content: space-around;
                        animation: slideInFromRight 30s linear infinite;
                        .icon{
                            width: 100%;
                            aspect-ratio: 1/1;
                            border: 1px solid #ccc;
                            padding: .1rem;
                            &:nth-child(1){
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }

        // 电脑端
        @media (min-width: 500px){
            padding: .3rem .5rem;
            flex-direction: row;
            .leftTop{
                height: 100%;
                width: 45%;
                border-bottom: 0;
                justify-content: center;
                border-right: 1px dotted #ccc;
                .avaterBox{
                    width: 1.5rem;
                    border-radius: $radius;
                    aspect-ratio: 1/1;
                }
                .username{
                    font-size: .3rem;
                    margin: .2rem 0 .1rem 0;
                }
                .signature{
                    font-size: .2rem;
                    margin-bottom: .3rem;
                }
                .btnBox{
                    flex-direction: column;
                    width: 70%;
                    height: 30%;
                }
            }
            .rightBottom{
                width: 55%;
                height: 100%;
            }
        }

        // 大于1200px
        @media (min-width: 1200px){
            padding: .1rem .5rem;
            .leftTop{
                border-right: .01px solid #ccc;
                .avaterBox {
                        width: .8rem;
                        border-radius: .1rem;
                        aspect-ratio: 1/1;
                    }
                
                    .username {
                        font-size: .2rem;
                        margin: .1rem 0 .05rem 0;
                    }
                
                    .signature {
                        font-size: .15rem;
                        margin-bottom: .3rem;
                    }
                
                    .btnBox {
                        flex-direction: column;
                        width: 70%;
                        height: 30%;
                    }
            }
        }
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10rem);
    }
}