@import '../base.module.scss';

.SignatureCom {
    width: 100dvw;
    height: 100dvh;
    background: url(../../assets/icon/homebg.svg);
    display: flex;
    flex-direction: column;
    position: relative;

    .topLeft,
    .bottomRight {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .welcome {
            font-size: .75rem;
        }

        .linear {
            background: linear-gradient(315deg, #42d392 25%, #647eff);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .avater {
            width: 55%;
            aspect-ratio: 1/1;
            border-radius: $radius;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 20px 2px $googleBlue;
            animation: floating 4s ease-in-out infinite;
        }
    }

    .topLeft {
        height: 50%;
        padding-top: 1rem;
    }

    .bottomRight {
        height: 30%;
        padding-top: 1rem;
    }

    .arrowBox {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;

        .arrow {
            &:nth-child(1) {
                animation: arrow 1.5s infinite 0s;
            }

            &:nth-child(2) {
                animation: arrow 1.5s infinite 0.5s;
            }

            &:nth-child(3) {
                animation: arrow 1.5s infinite 1s;
            }
        }
    }

    .contactMe {
        width: 1rem;
        aspect-ratio: 1/1;
        position: absolute;
        right: 5%;
        bottom: 5%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .contactIcon{
            width: 85%;
            aspect-ratio: 1/1;
            cursor: pointer;
            border-radius: 50%;
        }
        &::before{
            content: '';
            width: 85%;
            height: 85%;
            position: absolute;
            border-radius: 50%;
            animation: beforeScale 2s infinite;
            pointer-events: none;
        }
    }

    // 电脑端
    @media (min-width: 450px) {
        flex-direction: row;

        .topLeft,
        .bottomRight {
            height: 100%;

            .welcome {
                font-size: .4rem;
            }
        }
    }

    // 中等屏幕
    @media (min-width: 768px) {
        .contactMe {
            width: .8rem;
            aspect-ratio: 1/1;
            position: absolute;
            right: 5%;
            bottom: 5%;
            border-radius: 50%;
        }
    }

    // 超大屏幕
    @media (min-width: 1200px) {

        .topLeft,
        .bottomRight {
            .welcome {
                font-size: .2rem;
            }

            .avater {
                width: 40%;
            }
        }

        .topLeft {
            padding-top: 0;
        }

        .bottomRight {
            padding-top: 0;
        }

        .contactMe {
            width: .5rem;
            aspect-ratio: 1/1;

        }
    }
}

// 图片的上下跳动动画
@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

// 箭头的闪烁
@keyframes arrow {

    /* 这里写的是对时间产生比例进行效果输出 */
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// before动画缩放
@keyframes beforeScale {
    0% {
        transform: scale(1);
        border: .01rem solid $googleBlue;
    }

    100% {
        transform: scale(1.5);
        border: .001rem solid transparent;
    }
}