@import '../base.module.scss';

.websiteInfoCom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'zk';
    .container {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .title {
            margin-bottom: .03rem;
            font-size: .08rem;
        }

        .aLink {
            border-radius: 50%;
            margin-right: .1rem;
            height: .2rem;
            display: inline-block;

            .imgBox {
                height: 100%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .01rem;

                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        // 移动端
        @media (max-width: 768px) {
            .title {
                font-size: .24rem;
                margin-bottom: .15rem;
            }

            .aLink {
                height: .6rem;
                margin-right: .2rem;
                &:last-child{
                    margin-right: 0rem;
                }
            }
        }
    }

    // 移动端
    @media (max-width: 768px) {
        .container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .top {
                line-height: .3rem;
            }

            .bottom {
                line-height: .3rem;
            }
        }
    }
}