@import './base.scss';

.app{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/bg.gif) no-repeat center center;
    background-size: cover;
}