@import './base.scss';

.app{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px){
        background: url(https://picsum.photos/3840/2160.webp) no-repeat center center/cover;
    }
    @media (max-width: 576px){
        background: url(https://picsum.photos/1920/1080.webp) no-repeat center center/cover;
    }
}