@import './base.module.scss';

.contact {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // 兼容 image-set() 解析失败的情况
    background-image: url(https://picsum.photos/1920/1080.webp);

    background-image: image-set("https://picsum.photos/1280/720.webp" type("image/webp") 1x,
            "https://picsum.photos/1920/1080.webp" type("image/webp") 2x,
            "https://picsum.photos/2560/1440.webp" type("image/webp") 3x,
            "https://picsum.photos/3840/2160.webp" type("image/webp") 4x);

    // 针对高分辨率屏幕
    @media (min-resolution: 2dppx) {
        background-image: url(https://picsum.photos/1920/1080.webp);
    }

    @media (min-resolution: 3dppx) {
        background-image: url(https://picsum.photos/2560/1440.webp);
    }

    @media (min-resolution: 4dppx) {
        background-image: url(https://picsum.photos/3840/2160.webp);
    }

    .container {
        width: 70%;
        height: 60%;
        background-color: rgba($color: #fff, $alpha: .3);
        backdrop-filter: blur(10px);
        border-radius: $radius;
        position: relative;
        overflow: hidden;
        padding: 0 .3rem;

        .hello {
            width: 20%;
            position: absolute;
            bottom: -1%;
            right: -5%;
            transform: rotate(-45deg);
        }

        .title{
            text-align: center;
            color: rgba(0, 0, 0, 0.3);
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.3);
        }

        .textarea{
            font-size: .5rem;
            display: flex;
            span{
                white-space: nowrap;
            }
            textarea{
                background-color: transparent;
                border-radius: $radius;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                outline: none;
                resize: none;
                min-height: 3rem;
                height: 3rem;
                width: 100%;
                font-size: .5rem;
            }
        }

        .label{
            font-size: .5rem;
            margin-bottom: .3rem;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            .box{
                display: flex;
            }
            .email{
                flex: 1;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                border-radius: 999px 0 0 999px;
                outline: none;
                position: relative;
                padding: 0 .3rem;
                overflow: auto;
                max-height: .8rem;
                white-space: wrap;
            }
            .select{
                color: #999;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                border-radius: 0 999px 999px 0;
                padding: 0 .3rem;
            }
            .selectBox{
                z-index: 12;
                position: absolute;
                top: 105%;
                right: 0;
                background-color: rgba($color: #fff, $alpha: .3);
                opacity: 0;
                border-radius: $radius;
                color: #999;
                padding: .1rem .2rem;
                transition: all .3s ease;
                li{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    // 兼容
    // @media (max-width:640px) {
    //     background: url(https://picsum.photos/1280/720.webp) no-repeat;
    // }
    // @media (max-width:1280px) and (min-width:640px) {
    //     background: url(https://picsum.photos/1280/720.webp);
    // }
    // @media (max-width:1920px) and (min-width:1280px) {
    //     background: url(https://picsum.photos/1920/1080.webp);
    // }
    // @media (max-width:2560px) and (min-width:1920px) {
    //     background: url(https://picsum.photos/2560/1440.webp);
    // }
    // @media (max-width:3840px) and (min-width:2560px) {
    //     background: url(https://picsum.photos/3840/2160.webp);
    // }
}